body {
    height: 100vh;
  }
  
  .register_area {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .password-check {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .register {
    width: 400px;
    border: 1px solid gray;
    padding: 20px;
    border-radius: 15px;
   
  }
  
  .title{
      text-align: center;
  }
  
  .submit{
      width: 100%;
      background-color: red;
  }
  